h1,h2,h3,h4,h5{
  text-align: center;
}
h1{
  color: white;
  
}
h2{
  color: rgb(208, 255, 0);
}
h3{
  color: orange;
}
h4{
  color: rgb(164, 14, 195);
}
h5{
  color: cyan;
}
body{
  background-color: black;
}
#start{
  display: block; 
  margin: 0 auto;
}
.container{
  color: black;
  display: flex;
  justify-content: center;
  gap: 10px; 
  height: 20vh; 
  align-items: center;


}
#button1{
  font-size: 25px;
  font-family: Verdana, sans-serif;
  color: white;
  background-color: #ff3344;
  height: 75px;
  width: 220px;
  margin: 1em;
  border-radius: 2em;
  border: none;
  outline: none;
  cursor: pointer;
}
#button2{
  font-size: 25px;
  font-family: Verdana, sans-serif;
  color: white;
  background-color: #ff3344;
  height: 75px;
  width: 220px;
  margin: 1em;
  border-radius: 2em;
  border: none;
  outline: none;
  cursor: pointer;
}
#hiddencontent{
  color: white;
}